* {
    box-sizing: border-box;
}
/* mian */
.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:1em auto;
}

/* left */
#left-charts-container {
    width: 1250px;
    height: 900px;
    
}


#line-chart-legends {
    height: 400px;
}

#bar-chart-1-container {
    height: 120px;
}


#bar-chart-1-container {
    width: 1200px;
}

#line-chart-legends {
    width: 200px;
}

.chart,
.charts,
.legends {
    border: 1px black solid;
}

#area-chart-title{
    text-align: center;
}

/* linechart */

#line-chart-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* linechart legend */
.line-chart-legends {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.line-chart-legend {
    padding-left: 2em;
    display: flex;
    flex-direction: row;
}
.rectangle {
    width: 1em;
    height:1em;
    margin-right: 0.3em;
    background-color: rgb(212, 212, 212);
}
.rectangle:hover{
    border: 1px black solid;
    box-sizing: border-box;
}
.legend-button-1,.legend-button-2 {
    left: 1em;
    height: 1em;
    background-color:beige;
    cursor: pointer;
}
.legend-button-1:hover,.legend-button-2:hover {
    border: 1px black solid;

}
.legend-button-1.selected {
    background-color: black;
}
.legend-text {
    margin-left: 1em
}
/* #legend-button-2-all {
    cursor:not-allowed;
} */
.legend-button-2 {
    background-color: aqua;
}

/* line chart tooltip */
#line-chart-tooltip {
    position: fixed;
    width: 300px;
    background-color: white;
    opacity: 0.7;
}

.line-chart-tooltip-color-rect {
    width: 1em;
    height: 1em;
}

/* area chart */
#area-chart-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#area-chart-svg {
    width: 1000px;
}

#area-chart-legends{
    width: 200px;
    height: 220px;
}

/* right */
#right-charts-container {
    width: 550px;
    height: 900px;
}

#bar-chart-2-title{
    margin: 0;
    text-align: center;
}
#bar-chart-2-container {
    height: 840px;
    width: 500px;
}


/* bar chart 1 */
.bar {
    fill: black;
    stroke: black;
}
#bar-chart-1-container {
    display: flex;
    flex-direction: left   ;
}
/* bar chart 2*/
.major-bar {
    fill: rgb(0, 88, 170);
    stroke-width: 2px;
    stroke: black;
}

.minor-bar {
    fill: rgb(224, 121, 3);
    stroke-width: 2px;
    stroke: black;
}

.x-axis-minor, #bar2Minor, #bar2MinorDescending, #bar2MinorAscending {
    color: rgb(224, 121, 3);
}

.x-axis-major, #bar2Major, #bar2MajorDescending, #bar2MajorAscending {
    color: rgb(0, 88, 170);
}