/* mian */
.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:1em auto;
}

/* left */
#left-charts-container {
    width: 1250px;
    height: 900px;
    
}


#line-chart-legends {
    height: 400px;
}

#bar-chart-1-container {
    height: 120px;
}




#bar-chart-1-container {
    width: 1200px;
}

#line-chart-legends {
    width: 200px;
}

.chart,
.charts,
.legends {
    border: 1px black solid;
}

#area-chart-title{
    text-align: center;
}

/* linechart */
#line-chart-svg {
    width: 1000px;
    height: 400px;
}
#line-chart-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/* area chart */
#area-chart-container {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#area-chart-svg {
    width: 1000px;
}

#area-chart-legends{
    width: 200px;
    height: 220px;
}

/* right */
#right-charts-container {
    width: 550px;
    height: 900px;
}