body {
  padding: 30px;
}


/* chart column */
.chartsColumns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 600px;
}

.chartsColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 600px;
  border: black 1px solid;
}


/* line chart lay out */
#lineChart {
  display: flex;
  flex-direction: row;
}

/*  line chart svg */
.mean-line {
  fill: none;
  stroke: black;
  stroke-width: 1px;
}


.location-line {
  fill: none;
  stroke-width: 1px;
}


/* line chart tooltip */
#lineChartToolTip {
  position: absolute;
  background: white;
  border: black 1px solid;
  display: hidden;
}

/* linechart legend */
.line-chart-legend {
  width: 20px;
  text-align: center;
}
  
.lineChartLocationButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 120px;
  cursor: pointer;
  padding-left:1em;
}

.lineChartLocationButton:hover {
  border: black 1px solid;
  border-radius: 5px;
}

.lineChartColourLegend {
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}

#lineChartLegend {
  width: 140px;
  border: black 1px solid;
}

/* bar chart */
#barChartContext {
  display: flex;
  flex-direction: row;
}